<!-- extends para poder usar la estructura de otro archivo html -->
{% extends 'base.html' %}

<!-- block content y endblock para insertar el contenido -->
{% block content %}

<main class="container">     
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Tasks</h1>
            <ul class="list-group">
                {% for task in tasks %}
                <a href="{% url 'task_detail' task.id %}" class="list-group-item">
                    <header class="d-flex justify-content-between">
                        {% if task.important %}
                            <!-- El href es la url de task_detail + el id -->
                            <h3 style="color:red">{{ task.title }}</h3>
                        {% else %} 
                            <h3>{{ task.title }}</h3>
                        {% endif %}
                        <p><strong>{{ task.user }}</strong></p>
                    </header>

                    <p>{{ task.description }}</p>
                    <!-- La fecha solo se muestra si está completada, ya que el filtro date solo se aplica 
                    (y por lo tanto, se muestra) si el valor es diferente a None -->
                    <p>{{ task.datecompleted|date:'M j Y:i' }}</p>

                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    
</main>

{% endblock %}
